<div *ngIf="medecins && medecins.length > 0" class="container mt-4">
    <h2 class="text-center mb-4">Liste des Salles</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let salle of medecins">
        <div class="card mb-3">
          <img src="assets/salle.jpg" class="card-img-top" alt="Image de la salle">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-primary">Salle {{ salle.numbrsalle }}</h5>
            <p class="card-text"><strong>Capacité:</strong> {{ salle.capacite }}</p>
            <p class="card-text"><strong>File d'attente:</strong> {{ salle.fil_attente }}</p>
            <p class="card-text"><strong>Cabinet:</strong> {{ salle.cabinet ? salle.cabinet : 'Non spécifié' }}</p>
            <!-- Boutons d'action -->
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template *ngIf="!(medecins && medecins.length > 0)" class="container mt-4">
    <p class="alert alert-warning">Aucune salle trouvée.</p>
  </ng-template>
  