<!-- header.component.html -->

<div class="container">

    <h1>Ajouter un salaire pour un employé</h1>
    <form>
        
    <div class="form-group">
        <label for="salaryDate">Date du paiement:</label>
        <input type="date" class="form-control" id="salaryDate">
      </div>
      <div class="form-group">
        <label for="employeeName">Nom de l'employé:</label>
        <input type="text" class="form-control" id="employeeName" placeholder="Entrez le nom de l'employé">
      </div>
      <div class="form-group">
        <label for="salaryAmount">Montant du salaire:</label>
        <input type="number" class="form-control" id="salaryAmount" placeholder="Entrez le montant du salaire">
      </div>
      
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>
  