<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div *ngIf="secretaireAssociee" class="card">
        <div class="card-body">
          <h2 class="card-title">Secrétaire Actuelle </h2>
          <p><strong>First Name:</strong> {{ secretaireAssociee.nom }}</p>
          <p><strong>Last Name:</strong> {{ secretaireAssociee.prenom }}</p>
          <p><strong>years of experience:</strong> {{ secretaireAssociee.anneeExperience }}</p>
          

        </div>
    
     
  </div>
</div>
